<style>
	body{
		background-color: #F4F3EF;
	}
	span{
		margin-right: 5px;
	}
	ul{
		list-style: none;
	    padding: 0;
	    color: darkgray;
	}
	h3{
		color: #ccc;
	}
	img.bracket{
		margin-left: -25px;
	}
	img.vee{
		position: inherit;
	    float: right;
	    height: inherit;
	    margin-top: -50px;
	}
	.tag{
		position: absolute;
    	margin-left: -15px;
	}
	.none{
		color: #F4F3EF;
	}
	.active{
		color: #ccc;
	}
	.divider-items{
	    margin-top: 60px;
	    margin-bottom: 50px;
	    width: 108%;
	    border-top: 1px dotted #8c8b8b;
	}
	.divider-footer{
		border-top:1px dotted #ccc; 
		margin-top:0; 
		width:111%;
	}
	.divider{
		border-top:1px solid #646361; 
  	}
  	.total{
  		margin-top: 7px;
    	margin-bottom: 7px;
    	width: 300%;
  	}
  	.divider-top{
		border-top:1px solid #646361; 
  	}
  	.divider-top-logo-thin{
		border-top:1px solid #646361; 
		width: 175%;
		margin-top: 16px;
  	}
  	.divider-top-logo{
		border:5px solid #646361; 
		width: 111%;
  	}
	.top-buffer { 
		margin-top:50px; 
	}
	.bottom-buffer { 
		margin-top:15px; 
	}
	.flex-container {
	    /*display: -webkit-flex;
	    display: flex;
	    height: auto;*/
	    background-color: #E8E9E4;
	    padding: 20px 5px;
	    border-radius:10px;
	}
	.offline{
		width: 145%;
	}
	.flag{
		width: 3%;
	}
	#curly-brace
	{
	    color: #ccc;
	    width: 125px;
	    position: absolute;
	    left: -18%;
	    top: 245px;
	}

	.brace
	{
	  border-bottom: 7px solid;
	  margin: 0 10%;
	  width: 30%;
	  height: 20px;  
	  float: left;
	}

	.brace:before,
	.brace:after
	{
	  content: "";
	  width: 10%;
	  height: 50px;
	  position: absolute;
	  display: block;
	}

	#left:before
	{  
	  border-bottom: 7px solid;  
	  border-bottom-left-radius: 20px;
	  margin-left: -10%;
	  margin-top: -30px;
	}

	#left:after
	{
	  border-top: 7px solid;
	  border-top-right-radius: 20px;
	  margin-left: 30%;
	  margin-top: 20px;    
	}

	#right:before
	{
	  border-top: 7px solid;
	  border-top-left-radius: 20px;
	  margin-left: -10%;
	  margin-top: 20px;
	}

	#right:after
	{
	  border-bottom: 7px solid;
	  border-bottom-right-radius: 20px;
	  margin-left: 30%;
	  margin-top: -30px;
	}
</style>
<div class="wrapper">
  	<div class="row">
  		<div class="pull-left col-md-3">
	  		<div class="col-md-9">
	  			<img src="assets/images/PastedGraphic-1.png" alt="user image" class="offline">
	  			<hr class="divider-top-logo-thin">
		  	</div>
	  	</div>
	  	<div class="pull-right col-md-9">
	  		<div class="col-md-3">
		  		<h2>The People</h2>
		  		<hr class="divider-top">
		  		<p>Quality not quantity, an adage we've lived by for 30 years now.</p>
		  		<hr class="divider-top-logo">
		  	</div>

		  	<div class="pull-right col-md-3">
		  	  	<h2>Visit Us</h2>
		  		<hr class="divider-top">
		  		<p>Our award-wining native garden, artists residence and cellar door.</p>
		  		<hr class="divider-top-logo" style="margin-right:;">
		  	</div>

		  	<div class="pull-right col-md-3">
		  	  	<h2>The News</h2>
		  		<hr class="divider-top">
		  		<p>Latest happenings from the winery and our wine club in Kenya. </br></p>
		  		<hr class="divider-top-logo">
		  	</div>
		  	<div class="pull-right col-md-3 active">
		  	  	<h2>The Shop</h2>
		  		<hr class="divider-top">
		  		<p>Buy our award-wiinning wines online, read the tasting and technical notes.</p>
		  		<hr class="divider-top-logo">
		  	</div>

		  	<div class="col-md-12">
	      		<div class="col-md-8 pull-left">
		      		<p style="margin-top:-10px; margin-left:-15px;">
		      			<img src="assets/images/United-States-Flag-icon.png" alt="user image" class="flag">
		      			US Customers please click here to order wine online.
		      		</p>
		      	</div>
		      	<div class="col-md-3 pull-right" style=" margin-right: -40px;" >
		      	  	<h2>The Club</h2>
		      		<hr class="divider">
		      	</div>
		      	<div class="clearfix"></div> 
	      	</div>
	  	</div>
  	</div>
</br></br>
  	<div class="row ">
      	<div class="col-md-4 pull-left">
      		<div class="flex-container">
      			<div class="" style="margin: 5px 20px;">
      				<span class="btn btn-sm btn-default">White</span>
		            <span class="btn btn-sm btn-default">Red</span>
		            <span class="btn btn-sm btn-default">Sparkling</span>
      			
			    	</br></br>

		            <span style="font-size:14px; font-weight: 600;">Order by</span>
		            <span class="btn btn-sm btn-default">Price</span>
		            <span class="btn btn-sm btn-default">Vintage</span>
		        </div> 
      		</div>
      	</div>

      	<div class="flex-container col-md-8 pull-right">
  			<div class="col-md-3 pull-left" style="padding: 50px 50px 50px 50px;border-right: 1px solid #fff;">
      			<center>
      				<h5 style="font-size:14px; font-weight: 600;">Delivery Info</h5>
      			</center>
      		</div>

      		<div class="col-md-3 pull-left" style=" margin:0;padding: 20px 50px 50px 50px;border-right: 1px solid #fff;">
      			<center>
      				<h5><ngcart-summary></ngcart-summary></h5>
      			</center>
      		</div>

      		<div class="col-md-6 pull-right"  style="    padding: 15px 5px 0 10px;">
  				<div class="" style="padding: 10px 0;">
  					<div class="pull-left">
	  					<center>36 x 2013 Breidscker</center>
	      			</div>
	      			<div class="pull-right">
				        <span ng-click="removeItems()" class="btn btn-default">Empty Cart</span>
	      			</div>
	      			<div class="clearfix"></div>
      			</div>

      			<div class="">
		    		<div class="pull-left">
				        	<hr class="total" style="margin-top:0;">
				        		<h5><ngcart-total></ngcart-total></h5>
				        	<hr class="total">
	      			</div>
	      			<div class="pull-right">
				        <uib-accordion close-others="oneAtATime">
						    <div uib-accordion-group 
						          class="panel-default"
						          heading="Check Out" 
						          is-open="status.isFirstOpen" 
						          is-disabled="status.isFirstDisabled">
						          <ngcart-cart></ngcart-cart>						    
						      </div>						      
						 </uib-accordion>
	      			</div>
	      			<div class="clearfix"></div>
	      		</div>
      		</div>
      	</div>
  		<div class="clearfix"></div>          	
  	</div>

  	<div class="row top-buffer">
      	<div class="col-md-4" ng-repeat="data in products">
  			<div class="col-md-3 pull-left">
  				<img width="20" height="40" src="assets/images/mini-img.png" class="tag" alt="">
  				<img width="60" height="240" src="assets/images/wine-bottles/09riesling.png" alt="">
  				<img width="110" height="50" src="assets/images/bracket.png" class="bracket" alt="">
  			</div>

			<div class="col-md-9 pull-right">
				<h1>
					<b class="">13</b>
					</br>
					{{data.name}}
				</h1>
				<div class="top-buffer">
					<div class="col-md-6" style="border-right: 1px solid #ccc;">
						<div class="pull-left">
							<span>Bottle</span>
							</br><b>{{data.price | currency}}<b></br>
							<input class="" type="checkbox"> QTY {{data.quantity}} </br>
							<span class="btn btn-sm btn-default bottom-buffer" style="margin-top: 35px;">Details</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="pull-right">
							<span>Case</span>
							</br><b>{{data.c_price | currency}} <b></br>
							<ngcart-addtocart id="{{ data.id }}" 
								name="{{ data.name }}" 
								price="{{ data.price }}" 
								quantity="1" 
								quantity-max="30" 
								data="item">
								Add to Cart
							</ngcart-addtocart>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
			<hr class="divider-items">
			<img width="110" height="50" src="assets/images/vee.png" class="vee" alt="">
      	</div>
  	</div>  	

  	<div class="row">
  		<div class="col-md-3">
  			<h3>Wine Orders</h3>
  			<hr class="divider-footer">
			<ul>
				<li><p>All prices are in New Zealand Dollars and include GST</p></li>
				<li><p>You must be 18 years or older to order.</p></li>	
				<li><p>We reserve the right to restrict sales should orders exceed supply.</p></li>
				<li><p>We aim o please. If you are not 100% happy, please return your purchase for a complete refund.</p></li>	
			</ul>
      	</div>
      	<div class="col-md-3">
      		<h3>Delivery</h3>
      		<hr class="divider-footer">
			<ul>
				<li><p>Delivery is available within New Zealand only and may take upto two weeks.</p></li>
				<li><p>For international enquiries please refer to our loacal <strong>agents</strong> or search for retailers on <strong>Wine Searcher</strong>.</p></li>	
			</ul>
      	</div>
      	<div class="col-md-3">
      		<h3 class="none">v</h3>
      		<hr class="divider-footer">
		</div>
      	<div class="col-md-3">
      		<h3 class="none">v</h3>
      		<hr class="divider-footer">
      	</div>
  	</div>
</div>

<script type="text/ng-template" id="template/ngCart/summary.html">
	<div class="row">
	    <div class="col-md-12" style="font-size:50px;">
	    	{{ ngCart.getTotalItems() }}	        
	    </div>
	    <div class="col-md-12">
	        <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'Bottle', 'other':'Bottles'}" style="font-size:14px; font-weight: 800;"></ng-pluralize>
	    </div>
	</div>
</script>

<script type="text/ng-template" id="template/ngCart/total.html">
	<div class="row">
	    <div class="col-md-12">
	        Total: <span style="color:red;">{{ ngCart.totalCost() | currency }}</span>
	    </div>
	</div>
</script>

<script type="text/ng-template" id="template/ngCart/addtocart.html">
	<div ng-hide="attrs.id">
	    <a class="btn btn-lg btn-success" ng-disabled="true" ng-transclude></a>
	</div>
	<div ng-show="attrs.id">
	    <div>
	        <span ng-show="quantityMax">
	            <select style="margin-top:10px;"  name="quantity" id="quantity" ng-model="q"
	                    ng-options=" v for v in qtyOpt"></select>
	        </span>
	        <a class="btn btn-sm btn-warning" style="margin-top: 28px;"
	           ng-click="ngCart.addItem(id, name, price, q, data)"
	           ng-transclude></a>
	    </div>
	    <mark  ng-show="inCart()">
	        Added to Cart <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
	    </mark>
	</div>
</script>

<script type="text/ng-template" id="template/ngCart/cart.html">
	<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
	    Your cart is empty
	</div>
	<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">
	    <table class="table table-striped ngCart cart">
	        <thead>
	        <tr>
	            <th></th>
	            <th>Item</th>
	            <th>Quantity</th>
	            <th>Amount</th>
	            <th>Total</th>
	        </tr>
	        </thead>
	        <tfoot>
	        <tr ng-show="ngCart.getTax()">
	            <td></td>
	            <td></td>
	            <td></td>
	            <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
	            <td>{{ ngCart.getTax() | currency }}</td>
	        </tr>
	        <tr ng-show="ngCart.getShipping()">
	            <td></td>
	            <td></td>
	            <td></td>
	            <td>Shipping:</td>
	            <td>{{ ngCart.getShipping() | currency }}</td>
	        </tr>
	        <tr>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td>Total:</td>
	            <td>{{ ngCart.totalCost() | currency }}</td>
	        </tr>
	        </tfoot>
	        <tbody>
	        <tr ng-repeat="item in ngCart.getCart().items track by $index">
	            <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

	            <td>{{ item.getName() }}</td>
	            <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
	                      ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
	                {{ item.getQuantity() | number }}&nbsp;&nbsp;
	                <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
	            <td>{{ item.getPrice() | currency}}</td>
	            <td>{{ item.getTotal() | currency }}</td>
	        </tr>
	        </tbody>
	    </table>
	    <table class="table table-striped ngCart cart">
	    	<thead>
		    	<tr>
		            <th><ngcart-checkout service="log">Cash on Delivery</ngcart-checkout></th>
		            <th><ngcart-checkout service="http" settings="httpSettings">Mpesa Payment </ngcart-checkout></th>
		            <th><ngcart-checkout service="paypal" settings="payPalSettings"></ngcart-checkout></th>
		        </tr>
	        </thead>
	    </table>
	</div>
</script>

<script type="text/ng-template" id="template/ngCart/checkout.html">
	<div ng-if="service=='http' || service == 'log'">
	    <button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude>Checkout</button>
	</div>

	<div ng-if="service=='paypal'">
	    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()">
	        <input type="hidden" name="cmd" value="_xclick">
	        <input type="hidden" name="business" value="{{ settings.paypal.business }}">
	        <input type="hidden" name="lc" value="CA">
	        <input type="hidden" name="item_name" value="{{ settings.paypal.item_name }}">
	        <input type="hidden" name="item_number" value="{{ settings.paypal.item_number }}">
	        <input type="hidden" name="amount" value="{{ ngCart.getSubTotal()}}">
	        <input type="hidden" name="currency_code" value="{{ settings.paypal.currency_code }}">
	        <input type="hidden" name="button_subtype" value="services">
	        <input type="hidden" name="no_note" value="0">
	        <input type="hidden" name="tax_rate" value="{{ ngCart.getTaxRate()}}">
	        <input type="hidden" name="shipping" value="{{ ngCart.getShipping()}}">
	        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
	        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	    </form>
	</div>
</script>


<script type="text/ng-template" id="group-template.html">
    <div class="panel panel-default" style=" padding: 7px 9px;">
        <div class="panel-heading">
	        <h4 class="panel-title" style="color:black">
	            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
	            	<span uib-accordion-header ng-class="{'text-muted': isDisabled}" style="font-size: small;">
	              		{{heading}}
	            	</span>
	            </a>
	        </h4>
        </div>
      	<div class="panel-collapse collapse" uib-collapse="!isOpen">
        	<div class="panel-body" style="text-align: right" ng-transclude></div>
      	</div>
    </div>
</script>  